[submodule "modules/SheepSpindle"]
	path = modules/SheepSpindle
	url = git@github.com:sheep-works/SheepSpindle.git
[submodule "modules/SheepShuttle"]
	path = modules/SheepShuttle
	url = git@github.com:sheep-works/SheepShuttle.git
[submodule "modules/SheepComb"]
	path = modules/SheepComb
	url = git@github.com:sheep-works/SheepCombV2.git
