node_modules/
dist/
out/
.vscode-test/
*.vsix
.DS_Store
Thumbs.db

# User specific ignore
dialies/

# Webview
webview/node_modules/
webview/dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# demo
sample/
demo/
okapi/
debugs/

# instructions
instructions/